<div class="container">
  <h1><b>Events Calendar</b></h1>
  <hr>
  <% @list_of_events.each do |an_event| %>
    <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge bg-primary"><%=an_event.time.strftime("%d")%></span></h1>
      <h2 class="text-uppercase"><%=an_event.time.strftime("%b")%></h2>
    </div>
    <div class="col-10">
      <a href="/events/<%= an_event.id %>"><h3 class="text-uppercase"><strong><%=an_event.name%></strong></h3></a>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> <%=an_event.time.strftime("%A")%></li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> <%=an_event.time.strftime("%H:%M")%></li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> <%=an_event.location %></li>
      </ul>
      <p><%= an_event.description %></p>
      <% rsvp_list = Participant.where({:event_id => an_event.id})%>
      <ul class="list-inline">
        <li class="list-inline-item"><b><i class="fa fa-check-circle-o" aria-hidden="true"></i> <%=rsvp_list.where({:commitment => "Going"}).count%> Going </b></li>
        <li class="list-inline-item"><b><i class="fa fa-star-o" aria-hidden="true"></i> <%=rsvp_list.where({:commitment => "Interested"}).count%> Interested </b></li>
      </ul>
    </div>
    <hr>
  <% end %>
</div>