<div>
  <div>
    <h1>
      List of all events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new event
    </h2>

    <form action="/insert_event" method="post">
      <div>
        <label for="time_box">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="query_time">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="picture_box">
          Picture
        </label>

        <input type="text" id="picture_box" name="query_picture">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create event
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Time
        </th>

        <th>
          Location
        </th>

        <th>
          Picture
        </th>

        <th>
          Description
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>
        <td>
          <%= an_event.id %>
        </td>

        <td>
          <%= an_event.time %>
        </td>

        <td>
          <%= an_event.location %>
        </td>

        <td>
          <%= an_event.picture %>
        </td>

        <td>
          <%= an_event.description %>
        </td>

        <td>
          <%= an_event.name %>
        </td>

        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
